<h2>{{ localization.trans('title.songs')}}</h2>
<div class="row grid header">
	<div class="col-6">
	  {{ localization.trans('grid.name') }}
	</div>
	<div class="col-4">
	</div>  
	<div class="col-2"></div>	
</div>
<div class="row grid" *ngFor="let song of songs" (click)="onSelect(song)" [class.selected]="song === selectedSong">
	<div class="col-6">
	  {{ song.name }}
	</div>
	<div class="col-4">
	</div>
	<div class="col-2">
		<i class="fas fa-trash"></i>
	</div>
</div>
<app-song-detail [song]="selectedSong"></app-song-detail>